/*
!.bashrc
!.bash_aliases
!.compleat
!.dmrc
!.gitconfig
!.gitignore
!.gitignore.global
!.git-prompt.conf
!.profile
!.vimrc
!.Xdefaults
!.xmodmap
!oh-my-fish

# Don't ignore fish functions
!.config/
.config/*
!.config/fish/
.config/fish/*
!.config/fish/functions/
!.config/fish/config.fish

# Don't ignore xmonad.hs
!.xmonad
.xmonad/*
!.xmonad/xmonad.hs
.vscode
