[color]
    ui = auto

[core]
    whitespace=fix,-indent-with-non-tab,trailing-space,cr-at-eol
    excludesfile = /home/cpennington/.gitignore.global

[alias]
    st = status
    ci = commit
    br = branch
    co = checkout
    df = diff
    lg = log -p
    hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
    type = cat-file -t
    dump = cat-file -p

[user]
    name = Calen Pennington
    email = cale@edx.org

[branch]
    autosetupmerge = true
    autosetuprebase = always

[push]
	default = current

[log]
	follow = true

[alias]
    track = !sh -c 'git config branch.$1.remote origin && git config branch.$1.merge refs/heads/$1 && git config branch.$1.rebase true' -
