
[Desktop Entry]
Type=Application
Exec=urxvt -title Sup
Hidden=false
X-GNOME-Autostart-enabled=true
Name[en_US]=Sup Terminal
Name=Test Terminal
Comment[en_US]=
Comment=
